// Import fonts
@import url("../fonts/fonts.css");
@import url('../css/switch.css');
// Colors
$white: #ffffff;
$dark: #1f1f1f;
$purple: #5a41ad;
$green: #01ad4f;
$blue: #2d74cb;
$yellow: #ffad34;
// Hero
$hero: 100vh;
// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// General
* {
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

body {
  margin: 0;
  &.lock {
    overflow: hidden;
  }
  &[data-mode="night"] {
    #wellcome,
    #sec-01,
    #sec-03,
    #sec-04,
    #sec-05,
    .btn-custom,
    .btn-custom.picker {
      color: $white;
      background: $dark;
      transition: 0.2s;
    }
    #sec-04 {
      .border-display {
        border-top: solid 80px $dark;
        border-bottom: solid 80px $dark;
      }
    }
    #sec-05{
      span{
        color: $white;
      }
    }
    .btn-theme {
      .shape {
        stroke: $white;
      }
      .text {
        color: $white;
      }
    }
  }
  &[data-mode="night"],
  &[data-mode="day"] #sec-02 {
    color: $white;
    .btn-theme {
      .shape {
        stroke: $white;
      }
      .text {
        color: $white;
      }
    }
  }
  &[data-mode="day"] {
    #wellcome,
    #sec-01,
    #sec-03,
    #sec-04,
    #sec-05,
    .btn-custom,
    .btn-custom.picker {
      background: $white;
      color: $dark;
      transition: 0.2s;
    }
    #sec-04 {
      .border-display {
        border-top: solid 80px $white;
        border-bottom: solid 80px $white;
      }
    }
    #sec-05{
      span{
        color: $dark;
      }
    }
    .btn-theme {
      .shape {
        stroke: $dark;
      }
      .text {
        color: $dark;
      }
    }
  }
  h1 {
    font-family: "Bebas Neue";
    font-weight: 900;
    margin-bottom: 50px;
    text-align: center;
    font-size: 70px;
  }
  p {
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 400;
  }
  // COLOR PICKER
  &[data-color="purple"] {
    #sec-01 strong {
      color: $purple;
    }
    .picker .selected,
    #sec-02 {
      background: $purple;
    }
    #sec-04 p{
      color: $purple;
    }
  }
  &[data-color="green"] {
    #sec-01 strong {
      color: $green;
    }
    .picker .selected,
    #sec-02 {
      background: $green;
    }
    #sec-04 p{
      color: $green;
    }
  }
  &[data-color="blue"] {
    #sec-01 strong {
      color: $blue;
    }
    .picker .selected,
    #sec-02 {
      background: $blue;
    }
    #sec-04 p{
      color: $blue;
    }
  }
  &[data-color="yellow"] {
    #sec-01 strong {
      color: $yellow;
    }
    .picker .selected,
    #sec-02 {
      background: $yellow;
    }
    #sec-04 p{
      color: $yellow;
    }
  }
}

section:not(#wellcome) {
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn-theme {
  background: transparent;
  border: none;
  width: 320px;
  height: 60px;
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  cursor: pointer;
  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-family: "Roboto Condensed";
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    top: -48px;
    position: relative;
    text-transform: uppercase;
    text-align: center;
  }
  &:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }
}

.btn-custom {
  padding: 10px;
  position: fixed;
  left: 95%;
  box-shadow: 0 2px 10px #00000080;
  &.picker {
    top: 50%;
    transition: 0.5s;
    overflow: hidden;
    input {
      width: 20px;
      height: 20px;
      opacity: 0;
      cursor: pointer;
      &:checked {
        ~ .colors {
          height: 120px;
          li {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .selected {
      position: absolute;
      top: 13px;
      width: 20px;
      height: 20px;
      z-index: -1;
      &:before {
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: -5px;
        left: -5px;
        border: solid 1px #585858;
      }
    }
    .colors {
      margin: 0;
      padding: 0;
      height: 0;
      transition: 0.5s;
      overflow: hidden;
      li {
        list-style: none;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;
        &.green {
          background: $green;
        }
        &.purple {
          background: $purple;
        }
        &.blue {
          background: $blue;
        }
        &.yellow {
          background: $yellow;
        }
      }
    }
  }
}

// Wellcome
#wellcome {
  min-height: $hero;
  font-family: "Bebas Neue";
  position: relative;
  top: 0;
  left: 0;
  .bg {
    width: 100%;
    height: $hero;
    transform: scale(1);
    background-image: url("../img/bg-wellcome.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  .shade {
    opacity: 0;
    background: #000000cc;
    z-index: 3;
    height: $hero;
    position: fixed;
    width: 100%;
  }
  .content {
    text-align: center;
    h1 {
      font-weight: 900;
      font-size: 130px;
      margin-bottom: auto;
    }
    p {
      font-size: 50px;
      font-family: "Bebas Neue";
    }
    .form-area {
      display: grid;
      span {
        position: absolute;
        top: 5%;
        font-size: 30px;
        right: -5%;
      }
      .client-name-input {
        width: 100%;
        height: 50px;
        padding: 5px 10px;
        font-size: 30px;
        &::placeholder {
          color: #c9c9c9;
        }
        &:focus {
          outline: none;
        }
      }
      .buttons {
        margin-top: 50px;
        display: inline-flex;
        .btn-theme {
          margin: 30px auto 0;
        }
      }
    }
  }
}

#sec-01 {
  min-height: 100vh;
  .text-center {
    margin: auto 0;
    p {
      margin-bottom: 50px;
    }
  }
}

#sec-03 {
  li {
    font-size: 24px;
    padding: 10px 0;
  }
}

#sec-04 {
  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  .btn-theme {
    margin-top: 100px;
    display: block;
  }
  .border-display {
    position: absolute;
    right: 0;
    width: 50%;
    height: $hero;
    + .row {
      padding-top: 80px;
    }
  }
}

#sec-05 {
  height: $hero;
  .markee{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
  }
  span{
    font-size: 70px;
    font-family: 'Roboto';
    text-transform: uppercase;
  }
}
